.basketButton{
    height: 15%;
    justify-self:end;

    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;

    border-top: 1px solid black;
    border-radius: 15px 15px 0px 0px;
}

.basketButton:active, .basketButton:focus {
    outline: none !important;
}